@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-open-sans);
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin-top: 10rem;
}

main h1 {
  font-size: 3rem;
  margin-bottom: 4.8rem;
}

main h1 .icons {
  color: #68b984;
}

nav {
  width: 55rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1rem solid #ccc;
}

nav a {
  font-size: 2rem;
  color: #ccc;
  border-bottom: 0.1rem solid transparent;
  font-weight: 600;
}

nav a:hover {
  color: #3a3845;
}

nav a.active {
  color: #000;
  border-color: #68b984;
}

form input {
  border: 0.1rem solid #ccc;
  border-radius: 0.3rem;
  width: 45rem;
  margin: 4rem 0;
  -web-user-focus: none;
  padding: 0.6rem 1rem;
  font-size: 1.6 rem;
  letter-spacing: 0.06rem;
  font-weight: bold;
}

form button {
  padding: 0.8rem 1.2rem;
  border-radius: 0.3rem;
  border: none;
  background-color: #68b984;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  margin-left: 2.4rem;
}

label {
  font-size: 1.5rem;
  letter-spacing: 0.06rem;
  color: #3a3845;
  font-weight: bold;
}

ul li {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  width: 50rem;
  min-height: 6rem;
  border-bottom: 0.1rem solid #ccc;
}

ul li:first-child {
  border-top: 0.1rem solid #ccc;
}

ul li:hover {
  background-color: #fef2f2;
}

ul li input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  color: #d14072;
}

ul li button {
  padding: 0.6rem 1rem;
  width: 7rem;
  background-color: #d14072;
  color: #fff9f9;
  border: none;
  display: inline-block;
  cursor: pointer;
  justify-self: center;
  letter-spacing: 0.1rem;
}
